<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Mutolaa Book.uzdan boshlanar...</h5>
            <p class="mb-4">Eng sara kitoblar bir joyda mujassam bo'lgan sayt bu <span style="color: #FFD333;">BookUz</span></p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Chilonzor-8, Qatortol ko'chasi 60</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@book.uz</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+998-99-891-03-24</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+998-71-230-00-50</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Tezkor Kitob Do'kon</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="{% url 'home' %}"><i class="fa fa-angle-right mr-2"></i>Bosh Sahifa</a>
                        <a class="text-secondary mb-2" href="{% url 'books' %}"><i class="fa fa-angle-right mr-2"></i>Kitoblar</a>
                        <a class="text-secondary mb-2" href="{% url 'discount' %}"><i class="fa fa-angle-right mr-2"></i>Chegirmalar</a>
                        <a class="text-secondary mb-2" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Aloqa</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Mening Akkauntim</h5>
                        <div class="d-flex flex-column justify-content-start">
                            {% if user.is_authenticated %}
                                <a class="text-secondary mb-2" href="{% url 'update_user' %}"><i class="fa fa-angle-right mr-2"></i>Profil</a>
                                <a class="text-secondary mb-2" href="{% url 'logout' %}"><i class="fa fa-angle-right mr-2"></i>Chiqish</a>
                            {% else %}
                                <a class="text-secondary mb-2" href="{% url 'register' %}"><i class="fa fa-angle-right mr-2"></i>Ro'yhatdan O'tish</a>
                                <a class="text-secondary mb-2" href="{% url 'login' %}"><i class="fa fa-angle-right mr-2"></i>Kirish</a>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <a class="text-secondary mb-2" href="/admin/"><i class="fa fa-angle-right mr-2"></i>Admin Panel</a>
                            {% endif %}
                        </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Ijtimoiy Tarmoq</h5>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#"></a>Hamma huquqlar ximoyalangan
                <a class="text-primary" href="https://htmlcodex.com"></a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <!--                <img class="img-fluid" src="img/payments.png" alt="">-->
        </div>
    </div>
</div>