{% extends 'base.html' %}
{% load static %}

{% block content %}

{# Header #}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder" style="color: #FFFFFF">Biz Haqimizda...</h1>
                <p class="lead fw-normal text-white-50 mb-0">BookUz O'zbekistondagi eng katta onlayn kitob do'koniga xush kelibsiz...</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">

                <div class="col-8">
                    <p class="justify-content-lg-center">
                        <br> <br>
                        O'zbekiston Respublikasida juda ko'p kitob do'konlar bor lekin hech birida biza bor chegirmalar, arzon narx, tezkor yetkazib berish, himiyalangan tizim, oson to'lov mavjud emas.
                        <br> Bizni adminstratorlarimizning tezkor javobi mavjud. Biz siz sotib olgan maxsulotiga kafolat beramiz.
                        <br> O'z xolati saqlagan xolda yetkazib beramiz.
                    </p>
                </div>

        </div>
    </div>

{% endblock %}
